<!-- Created by Rapidfire Edited by Drew Olehy -->

<%= render partial: "rapidfire/answers/errors", locals: {answer: answer} %>

<div class="row">
  <div class="large-6 medium-6 small-12 large-centered medium-centered small-centered columns">
    <%= f.label :answer_text, answer.question.question_text %><br />
    <%= f.fields_for :answer_text do |af| %>
      <%- answer.question.options.each do |option| %>
        <%= af.label option do %>
          <%= af.check_box nil, { id: nil, checked: checkbox_checked?(answer, option) }, option %>
          <%= option %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<br />
