<%-# authored by Matthew Kachlik -%>
<%= form_for(@giving_back) do |f| %>
  <% if @giving_back.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@giving_back.errors.count, "error") %> prohibited this giving_back from being saved:</h2>

      <ul>
      <% @giving_back.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.label :subject %>
      <%= f.text_field :subject %>
    </div>
    <div class="large-6 columns">
      <%= f.label :position %>
      <%= f.text_field :position %>
    </div>

  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <%= f.label :requirements %>
      <%= f.text_area :requirements %>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns">
      <%= f.label :giving_back_type %>
      <%= f.select "giving_back_type",options_for_select([['Internship', 0],["Mentoring",1],['Guest speaking', 2],["Other",3]]) %>
    </div>

    <div class="large-3 columns">
      <%= f.label :contact_first_name %>
      <%= f.text_field :contact_first_name %>
    </div>
    <div class="large-3 columns">
      <%= f.label :contact_last_name %>
      <%= f.text_field :contact_last_name %>
    </div>
    <div class="large-3 columns">
      <%= f.label :contact_email %>
      <%= f.text_field :contact_email %>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <%= f.submit 'submit', :class => 'button radius'%>
      <%= link_to 'Back', giving_backs_path, :class => 'button radius' %>
    </div>
  </div>
<% end %>
