<!-- Created by Matt Kachlik -->
<!-- Styled by Andrew Bockus -->
<br /><br />
<div class="row panel radius">
<div class="row">
  <div class="large-12 columns">
    <div align="center">
      <h1>
        <% if @giving_back.giving_back_type.to_i == 0 %>
          Internship
        <% elsif @giving_back.giving_back_type.to_i == 1 %>
          Mentoring
        <% elsif @giving_back.giving_back_type.to_i == 2 %>
          Guest Speaking
        <% else%>
          Other
        <% end %>
      </h1>
    </div>
  </div>
</div><hr /><br />
<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>User created:</strong>
      <%= @giving_back.user_id %>
    </p>
  </div>
</div>
<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>Company info:</strong>
      <%= @giving_back.company_info_id %>
    </p>
  </div>
</div>
<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>Subject:</strong>
      <%= @giving_back.subject %>
    </p>
  </div>
</div>

<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>Position:</strong>
      <%= @giving_back.position %>
    </p>
  </div>
</div>

<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>Description:</strong>
      <%= @giving_back.description %>
    </p>
  </div>
</div>

<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>Requirements:</strong>
      <%= @giving_back.requirements %>
    </p>
  </div>
</div>

<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>Approved:</strong>
      <%= @giving_back.approved %>
    </p>
  </div>
</div>

<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>Completed:</strong>
      <%= @giving_back.completed %>
    </p>
  </div>
</div>

<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>Giving back type:</strong>
      <% if @giving_back.giving_back_type.to_i == 0 %>
        Internship
      <%elsif @giving_back.giving_back_type.to_i == 1 %>
        Mentoring
      <%elsif @giving_back.giving_back_type.to_i == 2 %>
        Guest Speaking
      <%else%>
        Other
      <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>Contact first name:</strong>
      <%= @giving_back.contact_first_name %>
    </p>
  </div>
</div>

<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>Contact last name:</strong>
      <%= @giving_back.contact_last_name %>
    </p>
  </div>
</div>

<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <strong>Contact email:</strong>
      <%= @giving_back.contact_email %>
    </p>
  </div>
</div><br />
<div class="row">
  <div clas="large-6 columns">
    <p class="text-center">
      <%= link_to "Completed", completed_giving_backs_path(@giving_back), class: "small radius button" %>
      <%= link_to 'Approve', approve_giving_backs_path(@giving_back), class: "small radius button" %>
      <%= link_to "Back", giving_backs_path, class: "small radius button" %>
    </p>
  </div>
</div>
</div>
