<!--James Maher-->
<%= render "menu/student" %>
<div class="row">
  <h1 class="medium-5 column">Search People</h1>
</div>
<div class="row">
  <%= search_form_for @search, url: search_basic_searches_path, html: { method: :post } do |f| %>
    <%= f.label :username_or_first_name_or_middle_initial_or_last_name_cont %>
    <%= f.text_field :username_or_first_name_or_middle_initial_or_last_name_cont %>
    <%= f.submit "Search", :class => "button medium-5 column" %>
  <% end %>
</div>
<%= render "results" %>