<nav class="top-bar noprint" data-topbar>
      <ul class="title-area">
          <li class="name">
              <h1><a href="/">North Central College</a></h1>
          </li>
          <li class="toggle-topbar menu-icon">
              <a href="#">Menu</a>
          </li>
      </ul>
      <section class="top-bar-section">
          <ul class="right">
              <li class="inactive">
                <%= link_to 'Surveys', main_app.rapidfire_path %>
              </li>
              <li class="inactive">
                  <a href="#" class="a">Giving Back</a>
              </li>
              <li class="inactive">
                <%= link_to 'Reports', main_app.reports_path %>
              </li>
              <li class="inactive">
                <%= link_to "Search", main_app.searches_path %> <!-- James Maher -->
              </li>
              <li class="inactive">
          			<%= link_to('Sign Out', main_app.destroy_login_session_path, :method => :delete) %>
              <!-- Andrew Bockus and Cornelius Donley -->
              <li class="has-dropdown">
                <a href="#">About</a>
                <ul class="dropdown">
                <li><%= link_to "Privacy Policy", main_app.privacy_policy_disclaimers_path %></li>
                <li><%= link_to "Contact Us", main_app.contact_us_disclaimers_path %></li>
                </ul>
              </li>
          </ul>
          <!-- Right Nav Section -->
          <!-- Left Nav Section -->
          <ul class="left">
              <li>
              </li>
          </ul>
      </section>
  </nav>
