<%= form_for @user do |f| %>
<% if @user.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@user.errors.count, "error") %> prohibited
       this user from being saved:
     </h2>
     <ul>
       <% @user.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

  <div class="row">
    <div class="large-5 columns">
      <p>
        <%= f.label :first_name %><br>
        <%= f.text_field :first_name, :type =>"text" %>
      </p>
    </div>
    <div class="large-2 columns">
      <p>
        <%= f.label "Middle Initial" %><br>
        <%= f.text_field :middle_initial, :type =>"text" %>
      </p>
    </div>
    <div class="large-5 columns">
      <p>
        <%= f.label "Last Name" %><br>
        <%= f.text_field :last_name, :type =>"text" %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
      <p>
        <%= f.text_field :area_code, :type =>"text" %>
      </p>
    </div>
    <div class="large-2 columns">
      <p>
        <%= f.text_field :prefix, :type =>"text" %>
      </p>
    </div>
    <div class="large-2 columns">
      <p>
        <%= f.text_field :suffix, :type =>"text" %>
      </p>
    </div>
    <div class="large-6 columns">
      <p>
        <%= f.label :email_addr %><br>
        <%= f.text_field :email_addr, :type =>"text" %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <p>
        <%= f.label :ncc_id %><br>
        <%= f.text_field :ncc_id, :type =>"text" %>
      </p>
    </div>
    <div class="large-6 columns">
      <p>
        <%= f.label :program %><br>
        <%= f.select :program, options_for_select([["Buisness Administration", 'BA'],["International Buisness Administration",'IBA'],["Education",'Education'],["Leadership Studies",'Leadership Studies'],["Liberal Studies",'Liberal studies'],["Management Information Systems",'MIS'],["Web and Internet application",'Web Application']]),{:include_blank => 'None'} %>
      </p>
    </div>
  </div>


    <div class="row">
      <div class="large-4 columns">
        <p>
          <%= f.label :city, 'Student id'%><br>
          <%= f.text_field :city, :type =>"text" %>
        </p>
      </div>

      <br>
        <div class="large-4 columns">
            <%= f.submit "submit"%>
        </div>
    </div>

<% end %>
<div class="row">
  <div class="large-4 medium-6 columns">
      <div class="button radius">
        <%= link_to 'Back', users_path %>
      </div>
    </div>
</div>
