<div class="row panel radius">
  <div class="large-12 medium-8 columns">
    <h1>All users:</h1>
    <table>
      <thead>
        <tr>
          <th>name:</th>
          <th>email:</th>
          <th>student status:</th>
          <th>program:</th>
          <th>Actions:</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.login.first_name %> <%= user.login.last_name %></td>
            <td><%= user.login.email %></td>
            <% if user.status == 1 %>
              <td> Enrolled </td>
            <% else %>
              <td>Alumni</td>
            <% end %>

            <td><%= user.program %></td>

            <td><%= link_to 'Show',user_path(user) %> |
            <%= link_to 'Edit',edit_user_path(user) %> |
            <%= link_to 'Destroy', user_path(user),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="row">
      <div class="large-12 large-centered columns">
        <div align="center">
          <%=link_to 'Create new profile', new_user_path, class: "button radius" %>
        </div>
      </div>
    </div>
  </div>
</div>
