<p>
  <strong>User name:</strong>
  <%= @user.login.username %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.login.first_name %>
</p>
<p>
  <strong>Middle initial:</strong>
  <%= @user.login.middle_initial %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @user.login.last_name %>
</p>
<p>
  <strong>Type:</strong>
  <%= @user.login.login_type %>
</p>
<p>
  <strong>Last login:</strong>
  <%= @user.login.last_sign_in_at %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'All users', users_path %> |
<%= link_to 'Home', root_path %>
