<p id="notice"><%= notice %></p>

<h1>Listing Report Displays</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_displays.each do |report_display| %>
      <tr>
        <td><%= link_to 'Show', report_display %></td>
        <td><%= link_to 'Edit', edit_report_display_path(report_display) %></td>
        <td><%= link_to 'Destroy', report_display, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report display', new_report_display_path %>
