<!-- Created by Rapidfire Edited by Drew Olehy -->
<!-- Styled by Andrew Bockus -->
<br /><br />
<div class="row panel radius">
  <div class="large-12 medium-12 small-12 large-centered medium-centered small-centered columns">
    <div align="center">
      <h1>Results</h1><hr/>
    </div>
  </div>

  <%- @survey_results.each do |result| %>
    <div>
      <h4><%= result.question.question_text %></h4>
      <p>
        <%- if result.results.is_a?(Array) %>
          <ol>
            <%- result.results.each do |answer| %>
              <li><%= answer %></li>
            <% end %>
          </ol>
        <% elsif result.results.is_a?(Hash) %>
          <table>
            <thead>
              <tr>
                <th>Option</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>
              <%- result.results.each do |option, count| %>
                <tr>
                  <td><%= option %></td>
                  <td><%= count %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
    </div>
  <% end %><br />
  <div align="center">
    <%= link_to 'Back', main_app.rapidfire_path, class: "button radius" %>
  </div>
</div>
