<!--James Maher-->
<div class="field">
  <div class="small-12 medium-3 large-3 column">
    <%= f.attribute_fields do |a| %>
      <%= a.attribute_select associations: :user %>
    <% end %>
  </div>
  <div class="small-12 medium-3 large-3 column">
    <%= f.predicate_select %>
  </div>
  <div class="small-12 medium-3 large-3 column">
    <%= f.value_fields do |v| %>
      <%= v.text_field :value %>
    <% end %>
  </div>
  <%= link_to "X", '#', class: "remove_fields secondary button" %>
</div>