<%= render "menu/admin" %>

<h1>Advanced Search</h1>
<%= search_form_for @search, url: search_searches_path, method: :post do |f| %>
  <%= f.condition_fields do |c| %>
    <% (1..3).each do |i| %>
      <%= render "condition_fields", f: c %>
    <% end %>
  <% end %>

  <p><%= link_to_add_fields "Add", f, :condition, class: "button" %></p>
  <div class="field">
    Sort:
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>
  <%= f.submit "Search", :class => "button" %>
<% end %>
<label><a href="#">Privacy Policy</a> | <a href="#">Contact Us</a></label>
