<!-- James Maher -->
<%= render "menu/admin" %>
<div class="row">
  <div class="column" id="content">
    <h1>Advanced Search</h1>
    <%= search_form_for @q, url: search_searches_path, html: { method: :post } do |f| %>
      <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c %>
      <% end %>
      <%= link_to_add_fields "+", f, :condition, class: "button" %><br>
      <%= f.submit "Search", :class => "button" %>
    <% end %>
    <%= render "results" %>
  </div>
</div>