<!-- James Maher -->
<div class="row">
  <div class="small-12 medium-12 large-12 column" id="content">
    <h1>Advanced Search</h1>
    <%= search_form_for @q, url: search_searches_path, html: { method: :post } do |f| %>
      <%= f.condition_fields do |c| %>
        <%= render "condition_fields", f: c %>
      <% end %>
      <%= link_to_add_fields "+", f, :condition, class: "button" %><br>
      <%= f.submit "Search", :class => "button" %>
    <% end %>
    <% if @display_results %>
      <%= render "results" %>
    <% end %>
    <!-- Saved lists drop down made with help from Andrew Bockus -->
    <%= form_tag "saved_lists/new", :html=>{:id=>'saved_list_form'}, method: "post" do %>
      <%= select_tag :list_type, options_from_collection_for_select(@saved_lists, "id", "list_name"), {:include_blank => 'New List', onchange: 'this.form.submit();'} %>
    <% end %>
  </div>
</div>