<%= render "menu/admin" %>

<h1>Surveys</h1>


<br>
<br>
<br>

<h3>In Process</h3>
<table id="t01">
  <tr>
    <th>Survey Name</th>
    <th>Last Modified</th>
    <th>Author</th>
    <th></th>
    <th></th>


  </tr>
  <tr>
    <td>Mind Blowing Survey</td>
    <td>4/2/15</td>
    <td>Rafaki</td>
    <td><%= link_to 'Edit', "#"%></td>
    <td><%= link_to 'Destroy', "#"%></td>
  </tr>
  <tr>
    <td>Tangled Survey</td>
    <td>4/23/15</td>
    <td>Flynn Ryder</td>
    <td><%= link_to 'Edit', "#"%></td>
    <td><%= link_to 'Destroy', "#"%></td>
  </tr>
</table>
<br>
<a href="#" class="button radius">Edit</a>
<a href="#" class="button radius">Delete</a>

<br>
<br>
<br>

<h3>Completed Surveys</h3>
<table id="t01">
  <tr>
    <th>Survey Name</th>
    <th>Date Completed</th>
    <th>Author</th>
  </tr>
  <tr>
    <td>Beginning Survey</td>
    <td>4/2/15</td>
    <td>Rafaki</td>
  </tr>
  <tr>
    <td>Ending Survey</td>
    <td>3/2/15</td>
    <td>Corey</td>
  </tr>
  <tr>
    <td>Mini Survey</td>
    <td>9/12/21</td>
    <td>Drew</td>
  </tr>
</table>

<a class="button radius" <%= link_to "Create new", "admin_surveys/new"%></a>
