<h1>Surveys</h1>


<br>
<br>
<br>

<h3>In Process</h3>
      <table id="t01">
        <tr>
          <th>Status</th>
          <th>Survey</th>
          <th>Date Created</th>
          <th colspan="4"></th>
        </tr>
        <% @admin_surveys.each do |s| %>
          <% if s.status == 0 %>
            <tr>
              <td><%= s.status %></td>
              <td><%= s.survey_name %></td>
              <td><%= s.date_created %></td>
              <td><%= link_to 'edit', action: 'edit', :id => s, :survey_id => s %></td>
            </tr>
          <% end %>
        <% end %>
  </table>


<h3>Completed</h3>
      <table id="t01">
        <tr>
          <th>Status</th>
          <th>Survey</th>
          <th>Date Created</th>
          <th colspan="4"></th>
        </tr>
        <% @admin_surveys.each do |s| %>
          <% if s.status == 1 %>
            <tr>
              <td><%= s.status %></td>
              <td><%= s.survey_name %></td>
              <td><%= s.date_created %></td>
            </tr>
          <% end %>
        <% end %>
      </table>


<a class="button radius" <%= link_to "Create new", "admin_surveys/new"%></a>
