<p id="notice"><%= notice %></p>

<h1>Listing Report Options</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_options.each do |report_option| %>
      <tr>
        <td><%= link_to 'Show', report_option %></td>
        <td><%= link_to 'Edit', edit_report_option_path(report_option) %></td>
        <td><%= link_to 'Destroy', report_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report option', new_report_option_path %>
