<!-- James Maher and Andrew Bockus -->
<div class="panel radius">
<h1><%= @saved_list.list_name %></h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Program</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @login.first_name + ' ' + @login.last_name, user_informations_path + '/' + @user.login_id.to_s, :style => 'color:#0011CC;' %></td>
      <td><%= @login.email %></td>
      <td><%= @user.program %></td>
      <td><%= link_to 'X', 'saved_lists#delete_user(@user.login_id, @saved_list.id)', class: "secondary button" %></td>
    </tr>
  </tbody>
</table>
<%= link_to 'Back', saved_lists_path, class: "button" %>
</div>