<p id="notice"><%= notice %></p>

<br />
<div class="row">
  <div class="large-12 small-12" align="center">
    <%= image_tag "reports.png" %>
  </div>
</div><br />
<div class="row">
  <div class="large-12 small-12 small-centered large-centered columns">
    <h1 align="center">Reports</h1>
  </div>
</div>
<br />
<div class="row">
  <div class="large-6 small-12 small-centered large-centered columns panel">
    <p align="center">Please click on a button to run a report.<br/>Export options will be available on the next page.</p>
  </div>
</div>
<br />
<div class="row">
  <div class="small-12 large-4 columns">
    <div align="center">
      <a href="#" class="button round">Run Job Report</a>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div align="center">
      <a href="#" class="button round">Run Salary Report</a>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div align="center">
      <a href="#" class="button round">Run Address Report</a>
    </div>
  </div>
</div><br />
<div class="row">
  <div class="small-12 large-4 columns">
    <div align="center">
      <a href="#" class="button round">Run Survey Report</a>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div align="center">
      <a href="#" class="button round">Run Degree Report</a>
    </div>
  </div>
  <div class="small-12 large-4 columns">
    <div align="center">
      <a href="#" class="button round">Run Test Report</a>
    </div>
  </div>
</div>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
