<!-- Created by Andrew Bockus -->

<% content_for :title, "Alumbook | Reports" %>

<%= render "menu/admin" %>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-12 small-12 small-centered large-centered columns">
    <h1 align="center">Reports</h1>
  </div>
</div>
<br />
<div class="row">
  <div class="large-6 small-12 small-centered large-centered columns panel">
    <p align="center">Please click on an option to run a report.<br/>Report options will be available on the next page.</p>
  </div>
</div>
<br />
<div class="row">
  <div class="large-4 small-12 columns">
    <div align="right">
      <h3>Run the</h3>
    </div>
  </div>
  <div class="large-4 small-12 columns">
    <%= form_tag "reports/options", method: "post" do %>
    <%= select_tag(:report_type, options_for_select([["-- Choose Report --", ""], ["Date Entered", 'date'], ["Graduating Class", 'grad_class'], ["Graduate Program", 'grad_program'], ["User Employer", 'employer'], ["Taken Surveys", 'taken_surveys'], ["Given Back", 'given_back'], ["Specific Survey", 'survey'], ["Survey Question", 'survey_question']]))%>
    <div align="center">
      <%= submit_tag "Submit", class: "button radius" %>
    </div>
    <% end %>
  </div>
  <div class="large-4 small-12 columns">
    <div align="left">
      <h3>report</h3>
    </div>
  </div>
</div>
