<!-- Created by Andrew Bockus -->

<% content_for :title, "Alumbook | Report Options" %>

<p id="notice"><%= notice %></p>

<br />
<div class="row panel radius">
    <%= form_tag reports_display_path, method: "post" do %>

    <%= render @report_type %>

    <hr/><br />
    <div class="row">
      <div class="large-6 medium-6 large-centered small-12 columns">
        <div class="row">
          <div class="large-6 medium-6 small-12 column">
            <h4>Student Status:</h4>
          </div>
          <div class="large-6 medium-6 small-12 column">
            <%= select_tag "user_status", options_for_select([["All Students", -1], ["Current Students", 0], ["Alumni", 1]]) %>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="large-6 medium-6 large-centered small-12 columns">
        <div class="row">
          <div class="large-6 medium-6 small-12 column">
          <h4>Run on Saved List?</h4>
        </div>
        <div class="large-6 medium-6 small-12 column">
          <%= select_tag "selected_saved_list", options_from_collection_for_select(@saved_list_array, "id", "list_name"), {:include_blank => 'No'} %>
        </div>
        <%= hidden_field_tag "report_type", @report_type %>
      </div>
    </div>
  </div>
  <hr /><br />
  <div class="row">
    <div align="center">
      <a href="<%= reports_path %>" class="button radius">&nbsp;&nbsp;Back&nbsp;&nbsp;</a>
      <%= submit_tag "Submit", class: "button radius" %>
    </div>
    <% end %>
  </div>
</div>
