<!-- Created by Andrew Bockus -->

<%= render "menu/admin" %>

<p id="notice"><%= notice %></p>
<div align="center">

<%= Time.now
<%= params %>

<br/>
<a href="<%= reports_path %>" class="button radius">Back</a>
</div>
