<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'The Alumbook' %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    
    <!-- Disclaimers by James Maher -->
    <div class="text-center noprint" align="center" style="position: fixed; bottom:0; width:100%; text-align: center;">
      <br /><%= link_to "Privacy Policy", privacy_policy_disclaimers_path %> | <%= link_to "Contact Us", contact_us_disclaimers_path %><br /><br />
    </div>
  </body>
</html>
