<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : 'The Alumbook' %></title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <% if login_signed_in? %>
      <% if current_login.login_type == 1 %>
        <%= render "menu/admin" %>
        <%end%>
      <% if current_login.login_type == 0  %>
        <%= render "menu/worker" %>
      <% end %>
      <% if current_login.login_type == 2  %>
        <%= render "menu/student" %>
      <% end %>
    <% else %>
      <%= render "menu/login" %>
    <% end %>
    <div class="alerts">
      <div class="row">
        <div class="small-10 small-centered medium-9 large-8 columns">
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <div data-alert <%= 'data-timeout="1.75"'.html_safe unless name == 'alert' %> class="alert-box <%= name %> radius">
                <%= msg %>
                <a href="#" class="close">&times;</a>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
    

  </body>
</html>
