<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <%#These are the two nav bars that we need the first one is the student
    page the second is the officeworker/admin depending on which page
    you're creating change the if for testing when the login page is
    done then we will be able to dynamically switch it in and out %>
  <% if user_signed_in? %>
    <% if true %>
      <nav class="top-bar" data-topbar>
             <ul class="title-area">
                 <li class="name">
                     <h1><a href="#">North Central College</a></h1>
                 </li>
                 <li class="toggle-topbar menu-icon">
                     <a href="#">Menu</a>
                 </li>
             </ul>
             <section class="top-bar-section">
                 <ul class="right">
                     <li class="inactive">
                         <%= link_to 'Home', homepages_path %>
                     </li>
                     <li class="inactive">
                         <a href="#">Surveys</a>
                     </li>
                     <li class="has-dropdown">
                         <a href="#">Giving Back</a>
                         <ul class="dropdown">
                             <li>
                                 <a href="#">Internships</a>
                             </li>
                             <li>
                                 <a href="#">Mentoring</a>
                             </li>
                             <li>
                                 <a href="#">Speaking</a>
                             </li>
                             <li>
                                 <a href="#">Other</a>
                             </li>
                         </ul>
                     </li>
                     <li class="has-dropdown">
                         <a href="#">My Profile</a>
                         <ul class="dropdown">
                             <li>
                                 <a href="#">View</a>
                             </li>
                             <li>
                                 <a href="#">Edit</a>
                             </li>
                             <li>
                                 <a href="#">Privacy Settings</a>
                             </li>
                             <li>
				<% if user_signed_in? %>
				  <li>
				<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>  
				  
				  </li>
				  
				<% end %>
                             </li>
                         </ul>
                     </li>
                     <li class="inactive">
			<a href="#">Search</a>									<a href="#">Search</a>
                     </li>
                 </ul>
                 <!-- Right Nav Section -->
                 <!-- Left Nav Section -->
                 <ul class="left">
                     <li>
                    </li>
                 </ul>
             </section>
         </nav>
      <% else %>
        <nav class="top-bar" data-topbar>
              <ul class="title-area">
                  <li class="name">
                      <h1><a href="#">North Central College</a></h1>
                  </li>
                  <li class="toggle-topbar menu-icon">
                      <a href="#">Menu</a>
                  </li>
              </ul>
              <section class="top-bar-section">
                  <ul class="right">
                      <li class="inactive">
			  <%= link_to 'Homepage', homepages_path %>
                      </li>
		      
                      <li class="has-dropdown">
                          <a href="#">Surveys</a>
                          <ul class="dropdown">
                              <li>
                                  <a href="#">First link in dropdown</a>
                              </li>
                          </ul>
                      </li>
                      <li class="inactive">
                          <a href="#" class="a">Giving Back</a>
                      </li>
                      <li class="inactive">
                        <%= link_to 'Reports', reports_path %>
                      </li>
                      <li class="has-dropdown">
                          <a href="#">My Profile</a>
                          <ul class="dropdown">
                              <li>
                                  <a href="#">First link in dropdown</a>
                              </li>
                          </ul>
                      </li>
                      <li class="inactive">
                          <a href="#">Search</a>
                      </li>
                  </ul>
                  <!-- Right Nav Section -->
                  <!-- Left Nav Section -->
                  <ul class="left">
                      <li>
                      </li>
                  </ul>
              </section>
          </nav>
      <% end %>
  <% else %>
        <nav class="top-bar" data-topbar>
              <ul class="title-area">
                  <li class="name">
                      <h1><a href="#">North Central College</a></h1>
                  </li>
                  <li class="toggle-topbar menu-icon">
                      <a href="#">Menu</a>
                  </li>
              </ul>
          </nav>
      <% end %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
