<!-- Craig Sterling -->
<br /><br />
<div class="row panel radius">
	<fieldset>
		<legend>User Information</legend>
			<div class="row">
			<!-- User Name and Photo block -->
			<div class="small-12 large-3 columns">
				<div class="small-12">
					<p><%= @login.last_name %>, <%= @login.first_name %> <%= @login.middle_initial %></p>
					<p><%= "User Name: " + @login.username %></p>
				</div>
				<div class="small-12">
					<img src=<%= get_photo_path(@login.id) %>>
				</div>
			</div>

			<!-- User Information Tab block -->
			<div class="small-12 large-9 columns">
				<div class="">
					<dl class="tabs" data-tab>
						<dd class="active">
							<a href="#pnlContactInfo">Contact</a>
						</dd>
						<dd>
							<a href="#pnlEducationInfo">Education</a>
						</dd>
						<dd>
							<a href="#pnlEmploymentInfo">Employment</a>
						</dd>
						<dd>
							<a href="#pnlPersonalInfo">Personal</a>
						</dd>
						<dd>
							<a href="#pnlPrivacyInfo">Privacy</a>
						</dd>
					</dl>
						<div class="tabs-content">
							<!-- Contact Information Tab block -->
							<div class="content active" id="pnlContactInfo">
								<p>Address:<br>
									<% if (@login.user.present?) %>
										<%= @login.user.street %><br>
										<%= @login.user.city %> ,
										<%= @login.user.state %>
										<%= @login.user.zip %><br>
									<% end %>
								</p>
								<p>email: <%= @login.email %></p>
								<p><ins>Phone Numbers</ins>
									<ul id="user_phones">
										<% if (@login.user.present?) and (@login.user.user_phones.all.present?) %>
									  	<% @login.user.user_phones.all.each do |c| %>
											  <li>
													<%= convert_phone_type(c.user_phone_type) + ": " +
															concatenate_phone(c.country_code,
																								c.area_code,
																								c.prefix,
																								c.suffix) %>
											  </li>
										  <% end %>
										<% end %>
									</ul>
								</p>
							</div>
							<!-- Education Information Tab block -->
							<div class="content" id="pnlEducationInfo">
								<p>Education status: <%= convert_user_status_to_words(@login.user.try(:status)) %></p>
								<p><ins>Degrees</ins>
									<ul id="degrees">
										<% if (@login.user.present?) and (@login.user.undergraduate_degrees.all.present?) %>
									  	<% @login.user.undergraduate_degrees.all.each do |ud| %>
										  <li>
												<%= convert_degree_type(ud.degree.degree_type) %>
												 		<%= ud.degree.major_name %> from
														<%= ud.college.college_name %> on
														<%= ud.graduation_date %>
										  </li>
										  <% end %>
										<% end %>
										<% if (@login.user.present?) and (@login.user.graduate_degrees.present?) %>
									  	<% @login.user.graduate_degrees.all.each do |gd| %>
										  <li>
												<%= convert_degree_type(gd.degree.degree_type) %>
												 		<%= gd.degree.major_name %> from
														<%= gd.college.college_name %> on
														<%= gd.graduation_date %>
										  </li>
										  <% end %>
										<% end %>
									</ul>
								</p>
							</div>
							<!-- Employment Information Tab block -->
							<div class="content" id="pnlEmploymentInfo">'
                              <% if (@login.user.present?) and (@login.user.company_info.present?) %>
								<p>
									<%= @login.user.try(:company_info).try(:company).try(:company_name) %><br>
									<%= @login.user.try(:job_title) %>
								</p>
								<p>Address:<br>
										<%= @login.user.company_info.street %><br>
										<%= @login.user.company_info.city %>,
										<%= @login.user.company_info.state %>
										<%= @login.user.company_info.zip  %>
								</p>

								<p><%= concatenate_phone(@login.user.company_info.country_code,
																				 @login.user.company_info.area_code,
																				 @login.user.company_info.prefix,
																				 @login.user.company_info.suffix) %>
								</p>
								<% end %>
								<p>Salary Range: <%= @login.user.present? ? convert_salary_range_to_words(@login.user.salary_range) : "" %></p>
								<p>Start Date: <%= @login.user.present? ? @login.user.start_date : "" %><br>
									End Date: <%= @login.user.present? ? @login.user.end_date : "" %>
								</p>
							</div>
							<!-- Personal Information Tab block -->
							<div class="content" id="pnlPersonalInfo">
								<p>Birth Date: <%= @login.user.present? ? @login.user.birth_day : ""%></p>
								<p>Ethnicity: <%= @login.user.present? ? @login.user.ethnicity : "" %></p>
								<p>Spouse Name: <%= @login.user.present? ? @login.user.spouse_first_name : "" %>
															 <%= @login.user.present? ? @login.user.spouse_middle_initial : "" %>
															 <%= @login.user.present? ? @login.user.spouse_last_name : "" %>
								</p>
								<p>Number of children: <%= @login.user.present? ? @login.user.number_children : "" %></p>
							</div>
							<!-- Privacy Information Tab block -->
							<div class="content" id="pnlPrivacyInfo">
								<fieldset>
									<legend>Opt In?</legend>
										<p>General: <%= convert_opt_in_to_words(@login.user.present? ? @login.user.general_opt_in : 0) %></p>
										<p>Email: <%= convert_opt_in_to_words(@login.user.present? ? @login.user.email_opt_in : 0) %></p>
										<p>Phone: <%= convert_opt_in_to_words(@login.user.present? ? @login.user.phone_opt_in : 0) %></p>
										<p>Badges: <%= convert_opt_in_to_words(@login.user.present? ? @login.user.badges_opt_in : 0) %></p>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
	</fieldset>
</div>
