<!-- Author: Craig Sterling -->
<!-- Date: 5/20/2015 -->

<%= render "menu/student" %>
<section>
	<fieldset>
		<legend>User Information</legend>
			<div class="row">
			<!-- User Name and Photo block -->
			<div class="small-12 large-3 columns">
				<div class="small-12">
					<p><%= @login.last_name + ", " + @login.first_name %></p>
					<p><%= "User Name: " + @login.username %></p>
				</div>
				<div class="small-12">
					<img src=<%= get_photo_path(@login.last_name, @login.first_name) %>>
				</div>
			</div>

			<!-- User Information Tab block -->
			<div class="small-12 large-9 columns">
				<div class="">
					<dl class="tabs" data-tab>
						<dd class="active">
							<a href="#pnlContactInfo">Contact</a>
						</dd>
						<dd>
							<a href="#pnlEducationInfo">Education</a>
						</dd>
						<dd>
							<a href="#pnlEmploymentInfo">Employment</a>
						</dd>
						<dd>
							<a href="#pnlPersonalInfo">Personal</a>
						</dd>
						<dd>
							<a href="#pnlPrivacyInfo">Privacy</a>
						</dd>
					</dl>
						<div class="tabs-content">
							<!-- Contact Information Tab block -->
							<div class="content active" id="pnlContactInfo">
								<p>Address:<br>
									<%= @user.street %><br>
									<%= @user.city + ", " +  @user.state + " " + @user.zip %><br>
								</p>
								<p>email: <%=@user.email_addr %><br>
									<ul id="user_phones">
										<% if !(@user_phones.blank?) %>
									  	<% @user_phones.each do |c| %>
										  <li>
												<%= convert_phone_type(c.user_phone_type) + ": " +
														concatenate_phone(c.country_code,
																							c.area_code,
																							c.prefix,
																							c.suffix) %>
										  </li>
										  <% end %>
										<% end %>
									</ul>
								</p>
							</div>
							<!-- Education Information Tab block -->
							<div class="content" id="pnlEducationInfo">
								<p><%= convert_user_status(@user.status) %></p>
								<p>Degrees
									<ul id="degrees">
										<% if !(@user_phones.blank?) %>
									  	<% @user_phones.each do |c| %>
										  <li>
										    <%= convert_phone_type(c.user_phone_type) + ": " +
														concatenate_phone(c.country_code,
																							c.area_code,
																							c.prefix,
																							c.suffix) %>
										  </li>
										  <% end %>
										<% end %>
									</ul>
								</p>
							</div>
							<!-- Employment Information Tab block -->
							<div class="content" id="pnlEmploymentInfo">
								<p><%= @company.company_name %><br>
									<%= @user.job_title %>
								</p>
								<p>Address:<br>
									<%= @company_info.street %><br>
									<%= @company_info.city + ", " +
											@company_info.state + " " +
											@company_info.zip %>
								</p>
								<p><%= concatenate_phone(@company_info.country_code,
																				 @company_info.area_code,
																			   @company_info.prefix,
																				 @company_info.suffix) %>
								</p>
								<p>Salary Range: <%= @user.salary_range %></p>
								<p>Start Date: <%= @user.start_date %><br>
									End Date: <%= @user.end_date %>
								</p>
							</div>
							<!-- Personal Information Tab block -->
							<div class="content" id="pnlPersonalInfo">
								<p>Birth Date: <%= @user.birth_day %></p>
								<p>Ethnicity <%= @user.ethnicity %></p>
								<p>Spouse Name <%= @user.spouse_first_name %> + " " +
															 <%= @user.spouse_middle_initial %> + " " +
															 <%= @user.spouse_last_name %>
								</p>
								<p>Number of children: <%= @user.number_children %></p>
							</div>
							<!-- Privacy Information Tab block -->
							<div class="content" id="pnlPrivacyInfo">
								<fieldset>
									<legend>Opt In?</legend>
										<p>General opt in: <%= convert_opt_in(@user.general_opt_in) %></p>
										<p>Email opt in: <%= convert_opt_in(@user.email_opt_in) %></p>
										<p>Phone opt in: <%= convert_opt_in(@user.phone_opt_in) %></p>
										<p>Badges opt in: <%= convert_opt_in(@user.badges_opt_in) %></p>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
	</fieldset>
	<a class="button radius" href="/user_informations/1/edit"> Edit</a>
</section>
